@import "./../../scss/main.module.scss";

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 1vh 5vw 0 5vw;
}

.back_side__section {
  display: flex;
  max-width: 1440px;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  & p {
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 3px;
  }
}

.back_side_card_wrapper {
  display: flex;
  width: 90vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* для плавной прокрутки на мобильных устройствах */
}

.back_side_card {
  flex: none;
  position: relative;
  width: 140px;
  height: 140px;
  margin: 5px;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-card;
    border: 1px solid $line-color;
  }
}

.back_side_card_selected {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./../../../public/assets/svg/checkmark.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.front_side__section {

}

.amount_card__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  & p {
    font-size: 1.5vw;

  }
}

.amount_buttons_block {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.amount_button {
  height: fit-content;
  min-height: 30px;
  width: fit-content;
  min-width: 30px;
  margin: 0 1vw 10px 1vw;
  text-align: center;
  color: $btn-active-text-color;
  background-color: $btn-active-color;
  border-radius: $border-radius-main;
  border: none;
  font-size: 1.5vw;
}

.amount_button:active {
  background-color: $btn-active-hover-color;
}

.selected_button {
  background-color: $btn-active-hover-color;
}

.button_accept {
  height: fit-content;
  min-height: 35px;
  width: fit-content;
  min-width: 230px;
  margin-top: 15px;
}

.input {
  height: fit-content;
  min-height: 20px;
  width: fit-content;
  min-width: 222px;
  padding: 5px 0 5px 10px;
  margin-top: 10px;
  border: 1px solid #B1B1B7;
  border-radius: $border-radius-main;
  font-size: 1.5vw;
  outline: none;
}

.input::placeholder{
  color: #B1B1B7;
}

.input:focus {
  border: 1px solid $btn-active-color;
}

.textSwitch{
  display: flex;
  align-items: center;
  width: 189px;
  justify-content: space-between;
}

@media (max-width: 540px ) {
  .back_side_card {
    width: $card-mobile-size;
    height: $card-mobile-size;
  }

  .back_side_card.selected {
    width: $card-mobile-size + 2px;
    height: $card-mobile-size + 2px;
  }
}
@media (max-width: 840px){
  .back_side__section p {
    font-size: 16px;
  }

  .amount_card__section p {
    font-size: 16px;
  }

  .amount_button {
    font-size: 16px;
  }

  .input {
    font-size: 16px;
  }
}
@media (min-width: 1140px) and (max-width: 2000px) {
  .amount_button {
    height: 40px;
    width: 50px;
    margin: 0 1vw 10px 1vw;
    text-align: center;
    color: $btn-active-text-color;
    background-color: $btn-active-color;
    border-radius: 10px;
    border: none;
    font-size: 22px;
  }

  .button_accept {
    height: 55px;
    width: 340px;
    margin-top: 15px;
    border-radius: 10px;
  }

  .selected_button {
    background-color: $btn-active-hover-color;
  }

  .input {
    height: 35px;
    width: 300px;
    padding: 5px 0 5px 12px;
    margin-top: 10px;
    border: 1px solid #B1B1B7;
    border-radius: 10px;
    font-size: 1.5vw;
    outline: none;
  }
}
@media (max-height: 800px) {
}
@media (min-width: 1140px) {
}

@media (hover: hover) {
  .amount_card__section .amount_button:hover {
    background-color: $btn-active-hover-color;
  }
}

@media (hover: none) {
  .amount_card__section .amount_button:active {
    background-color: $btn-active-hover-color;
  }
}