@import "./../../scss/main.module.scss";

.header_wrapper {
  display: flex;
  height: 5vh;
  background-color: $secondary-color;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  // // border-radius: 0px 0px 16px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 5px 0 5px;
  font-size: 1.0vw;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 10%;
  cursor: pointer;
}

.button_wrapper {
  display: flex;
  align-items: center;
  height: 80%;
  width: 12%;
}

.button {
  flex-grow: 0;
  width: 100%;
  height: 100%;
  background-color: $btn-active-color;
  color: $btn-active-text-color;
  border-radius: $border-radius-main;
  border: none;
  font-size: 1.1vw;
  cursor: pointer;

  // &.button:hover {
  //   background-color: $btn-active-hover-color;
  // }
}

.logo_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.below {
  background-color: $btn-active-color;
  color: $btn-active-text-color;
}

.settings_wrap {
  height: 100%;
  width: fit-content;
}

.settings {
  display: flex;
  justify-content: end;
  width: 10%;
  height: 80%;
}

.img {
  height: 4vh;
  width: 4vh;
  cursor: pointer;
  background-image: url(./../../../public/assets/svg/settings.svg);
  background-size: 100%;
  background-repeat: no-repeat;
};

@media (hover: hover) {
  .button:hover {
    background-color: $btn-active-hover-color;
  }

  .img:hover {
    background-image: url(./../../../public/assets/svg/settings-active.svg);
  }
}

@media (hover: none) {
  .button:active {
    background-color: $btn-active-hover-color;
  }

  .img:active {
    background-image: url(./../../../public/assets/svg/settings-active.svg);
  }
}

@media (max-width: 540px ) {
  .header {

  }

  .logo {
    width: 20%;
    font-size: 3vw;
  }

  .logo_text {

  }

  .button {
    font-size: 16px;
  }

  .settings {
    width: 20%;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .header {

  }
  .logo {
    width: 15%;
  }

  .logo_text {

  }

  .button {

    font-size: 16px;
  }

  .settings {
    width: 15%;
  }
}

@media (min-width: 720px) and (max-width: 960px) {
}

@media (max-width: 1140px) {
  .header {
    font-size: 16px;
  }

  .button_wrapper {
    width: 150px;
    font-size: 16px;
  }
}

@media (min-width: 1140px) and (max-width: 2000px) {
  .button {
    border-radius: 10px;
  }
}

@media (max-height: 800px) {
  .header {
    font-size: 1.8vh;
  }

  .button {
    font-size: 1.8vh;
  }
}

