$card-desktop-size: 168px;
$card-mobile-size: 90px;

$primary-color: #fffeff;
$secondary-color: #fcebff;

$text-color: #a28089;
$text-error-color: #ce405c;
$text-unActive-color: #999999;
$text-subtitle-color: #858495;
$text-accent-color: #a69df5;
$text-second-accent-color: #5fde99;

$active-color: #E3A3B4;

$btn-active-color: #eceaff;
$btn-disable-color: #282445;
$btn-active-text-color: #3e3688;
$btn-disable-text-color: #575473;

$line-color: #3b3b52;
$border-radius-main: 4px;
$border-radius-card: 7%;

$icon-cold-water-color: #4c9ef4;
$icon-warm-water-color: #db5b5f;
$icon-electricity-color: #ebb749;
